#mainDivHomePage{
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "nav nav nav nav"
        "side main main main"
        "side main main main"
        "side main main main"
        "side main main main";
}

#Navigation{
    grid-area: nav;
}

#SideBarAllPodcast{
    grid-area: side;
    width: 15vw;
    height: 100vh;
}

#SelectedPodcast{
    grid-area: main;
    width: 85vw;
    height: 100vh;
}