header{
    width: 100vw;
    padding: 20px;
    height: 8vh;
    top: 0%;
    left: 0%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.7);
    z-index: 1;
}


#divForLogo{
    width: 50%;
}
header #logo{
    width: 50%;
}


header nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
    padding-right: 15px;
}

header nav a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition-duration: 0.5s;
}

header nav a:hover{
    color: black;
    transform: scale(1.1);
}