#mainDivContact {
  background-image: url("/public/images/background-opacity.jpg");
  width: 100vw;
  height: 100vh;
}
#mainDivContact #contactDescription {
  padding: 100px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#mainDivContact #contactDescription h2 {
  font-size: 2rem;
}
#mainDivContact #contactDescription p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
#mainDivContact #contactDiv {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas: "name surname email" "msg msg msg";
  padding: 20px 50px;
}
#mainDivContact #contactDiv .oneInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
#mainDivContact #contactDiv .oneInput .labelInputIconDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#mainDivContact #contactDiv .oneInput .labelInputIconDiv label {
  font-size: 1.2rem;
  font-weight: bold;
}
#mainDivContact #contactDiv .oneInput .labelInputIconDiv input {
  width: 70%;
  height: 30px;
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  transition: 0.5s;
  opacity: 0.8;
}
#mainDivContact #contactDiv .oneInput .labelInputIconDiv input:focus {
  border: 3px solid lightskyblue;
  border-radius: 5px;
  transform: scale(1.1);
  border-radius: 5%;
  opacity: 1;
}
#mainDivContact #contactDiv .oneInput textarea {
  padding: 10px;
  box-sizing: border-box;
  max-width: 90%;
  min-width: 90%;
  max-height: 30vh;
  min-height: 30vh;
  font-size: 1.2rem;
  transition: 0.5s;
  outline: none;
  opacity: 0.8;
}
#mainDivContact #contactDiv .oneInput textarea:focus {
  border: 3px solid lightskyblue;
  border-radius: 5px;
  transform: scale(1.1);
  opacity: 1;
}

#nameDiv {
  grid-area: name;
  width: 500px;
}

#surnameDiv {
  grid-area: surname;
  width: 500px;
}

#emailDiv {
  grid-area: email;
  width: 500px;
}

#messageDiv {
  grid-area: msg;
}
#messageDiv label {
  font-size: 1.2rem;
  font-weight: bold;
}

#divForBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#divForBtn #msg {
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#sendMessageBtn {
  padding: 10px 25px;
  font-weight: bold;
  transition: 0.5s;
}

.msgUnsuccessfullySend {
  color: red;
}

.msgSuccessfullySend {
  color: green;
}

#sendMessageBtn:hover {
  color: whitesmoke;
  background-color: #333;
}

.icon {
  color: green;
  font-size: 2rem;
  border: 3px solid green;
  border-radius: 50%;
  padding: 5px;
  visibility: hidden;
}

@media screen and (max-width: 1540px) {
  #mainDivContact {
    background-size: cover;
  }
  #mainDivContact #contactDescription {
    padding: 70px;
  }
  #mainDivContact #contactDiv .oneInput {
    gap: 10px;
    margin-bottom: 30px;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv input {
    width: 65%;
  }
  #mainDivContact #contactDiv .oneInput textarea {
    padding: 10px;
    box-sizing: border-box;
    max-width: 85%;
    min-width: 85%;
  }
  #nameDiv {
    width: 450px;
  }
  #surnameDiv {
    width: 450px;
  }
  #emailDiv {
    width: 450px;
  }
  #messageDiv label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  #divForBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #divForBtn .icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1300px) {
  #nameDiv {
    width: 400px;
  }
  #surnameDiv {
    width: 400px;
  }
  #emailDiv {
    width: 400px;
  }
}
@media screen and (max-width: 1100px) {
  #mainDivContact #contactDescription {
    padding: 100px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainDivContact #contactDescription h2 {
    font-size: 1.8rem;
  }
  #mainDivContact #contactDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainDivContact #contactDiv .oneInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv label {
    width: 30%;
    font-size: 1.2rem;
    font-weight: bold;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv input {
    width: 70%;
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    transition: 0.5s;
    opacity: 0.8;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv input:focus {
    border: 3px solid lightskyblue;
    border-radius: 5px;
    transform: scale(1.1);
    border-radius: 5%;
    opacity: 1;
  }
  #mainDivContact #contactDiv .oneInput textarea {
    padding: 10px;
    box-sizing: border-box;
    max-width: 80vw;
    min-width: 80vw;
    max-height: 30vh;
    min-height: 30vh;
    font-size: 1.2rem;
    transition: 0.5s;
    outline: none;
    opacity: 0.8;
  }
  #mainDivContact #contactDiv .oneInput textarea:focus {
    border: 3px solid lightskyblue;
    border-radius: 5px;
    transform: scale(1.1);
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  #mainDivContact {
    padding: 40px 20px;
    width: 100vw;
    height: 100vh;
  }
  #mainDivContact #contactDescription {
    padding: 80px 50px 50px 50px;
  }
  #mainDivContact #contactDescription h2 {
    font-size: 1.6rem;
  }
  #mainDivContact #contactDiv .oneInput {
    width: 80%;
    margin-bottom: 20px;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  #mainDivContact {
    padding: 40px 20px;
    width: 100vw;
  }
  #mainDivContact #contactDescription {
    padding: 50px 10px;
  }
  #mainDivContact #contactDescription h2 {
    font-size: 1.3rem;
  }
  #mainDivContact #contactDescription p {
    width: 90vw;
    font-size: 1.1rem;
  }
  #mainDivContact #contactDiv .oneInput {
    width: 95vw;
    margin-bottom: 10px;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv {
    width: 100%;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv label {
    width: 30vw;
  }
  #mainDivContact #contactDiv .oneInput .labelInputIconDiv input {
    width: 80vw;
  }
  #mainDivContact #contactDiv .oneInput textarea {
    max-width: 90vw;
    min-width: 90vw;
    max-height: 25vh;
    min-height: 25vh;
  }
}/*# sourceMappingURL=Contact.css.map */