#registarSection {
  background-image: url("/public/images/registar.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#registarSection div {
  background-color: rgba(100, 100, 100, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  border-radius: 20px;
  padding: 20px;
}
#registarSection div #registarForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#registarSection div #registarForm #firstMsg {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
}
#registarSection div #registarForm #usernameArticle, #registarSection div #registarForm #emailArticle, #registarSection div #registarForm #passArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#registarSection div #registarForm #usernameArticle input, #registarSection div #registarForm #emailArticle input, #registarSection div #registarForm #passArticle input {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  transition: 0.2s;
}
#registarSection div #registarForm #usernameArticle input:focus, #registarSection div #registarForm #emailArticle input:focus, #registarSection div #registarForm #passArticle input:focus {
  transform: scale(1.1);
}
#registarSection div #registarForm #usernameArticle p, #registarSection div #registarForm #emailArticle p, #registarSection div #registarForm #passArticle p {
  height: 20px;
  width: 60vw;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
#registarSection div #registarForm #submitArticle #btnSubmit {
  padding: 10px 40px;
  background: transparent;
  font-weight: bold;
  border: 2px solid black;
  transition: 0.2s;
}
#registarSection div #registarForm #submitArticle #btnSubmit:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  #registarSection {
    background-position: 50%;
  }
  #registarSection div {
    width: 80%;
    height: 70%;
  }
  #registarSection div #registarForm {
    gap: 80px;
  }
  #registarSection div #registarForm #usernameArticle, #registarSection div #registarForm #emailArticle, #registarSection div #registarForm #passArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  #registarSection div #registarForm #usernameArticle input, #registarSection div #registarForm #emailArticle input, #registarSection div #registarForm #passArticle input {
    width: 350px;
  }
  #registarSection div #registarForm #usernameArticle p, #registarSection div #registarForm #emailArticle p, #registarSection div #registarForm #passArticle p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  #registarSection div {
    width: 80%;
    height: 80%;
    padding: 5px;
  }
  #registarSection div #registarForm {
    gap: 20px;
  }
  #registarSection div #registarForm #firstMsg {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  #registarSection div #registarForm #usernameArticle input, #registarSection div #registarForm #emailArticle input, #registarSection div #registarForm #passArticle input {
    width: 250px;
  }
  #registarSection div #registarForm #usernameArticle p, #registarSection div #registarForm #emailArticle p, #registarSection div #registarForm #passArticle p {
    width: 80vw;
    font-size: 1rem;
  }
  #registarSection div #registarForm #submitArticle #btnSubmit {
    margin-top: 80px;
    padding: 10px 40px;
  }
}/*# sourceMappingURL=Registar.css.map */