#mainDivContact {
  background-image: url("/public/images/background-opacity.jpg");
  width: 100vw;
  height: 100vh;
}

#contactDescription {
  padding: 100px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#contactDescription h2 {
  font-size: 2rem;
}

#contactDiv {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "name surname email"
    "msg msg msg";
  padding: 20px 50px;
}

.oneInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.labelInputIconDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.oneInput label {
  font-size: 1.2rem;
  font-weight: bold;
}

.oneInput input {
    width: 70%;
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    transition: 0.5s;
    opacity: 0.8;
}

.oneInput input:focus {
    border: 3px solid lightskyblue;
    border-radius: 5px;
    transform: scale(1.1);
    border-radius: 5%;
    opacity: 1;
}

.oneInput textarea {
  padding: 10px;
  box-sizing: border-box;
  max-width: 90%;
  min-width: 90%;
  max-height: 30vh;
  min-height: 30vh;
  font-size: 0.2rem;
  transition: 0.5s;
  outline: none;
  opacity: 0.8;
}

.oneInput textarea:focus {
  border: 3px solid lightskyblue;
  border-radius: 5px;
  transform: scale(1.1);
  opacity: 1;
}

#nameDiv {
  grid-area: name;
  width: 500px;
}

#surnameDiv {
  grid-area: surname;
  width: 500px;
}

#emailDiv {
  grid-area: email;
  width: 500px;
}

#messageDiv {
  grid-area: msg;
}

#divForBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sendMessageBtn {
    padding: 10px 25px;
    font-weight: bold;
    transition: 0.5s;
}

#msgNotSend{
  visibility: hidden;
  color: red;
}

#sendMessageBtn:hover{
    color: whitesmoke;
    background-color: #333;
}

.icon{
    color: green;
    font-size: 2rem;
    border: 3px solid green;
    border-radius: 50%;
    padding: 5px;
    visibility: hidden;
}