#mainDivAccountPage{
    padding: 100px 20px;
}

#dataOfUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputAccountPage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputAccountPage label{
    width: 100px;
}

.inputAccountPage input{
    width: 300px;
    height: 30px;
    padding: 5px;
}

#saveChanges{
    padding: 10px 40px;
}

#logoutBtn{
    margin-top: 200px;
    padding: 10px 20px;
}