#allComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.oneComment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

/* .oneComment:hover{
    color: whitesmoke;
    background-color: #333;
} */

.oneComment span{
    padding: 5px 15px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.textOfComment{
    display: block;
    width: 100%;
    overflow-wrap: break-word;
    color: #333;
    font-weight: 400;
}

.deleteComment{
    width: 10%;
}